
<div id="app">
    <h4>{{pageTitle}}</h4>
    <p>{{rawHtml}}</p>
    <p v-html="rawHtml"></p>
    <a v-bind:title="hoverText" v-bind:href="url">news</a>
    <h4>Conditionals</h4>
    <div v-if="visible">
        <p>I am visibile</p>
    </div>
    <button v-on:click="toggleVisible" 
            class="btn btn-info">Toggle visible</button>
    <h4>loop</h4>
    <div v-for="(person,index) in people">
        <p>{{index}}: {{person.name}}:{{person.city}}</p>
    </div>
    <p>{{inputValue}}</p>
    <input v-model="inputValue" /><br />
    <button class="btn btn-info" v-on:click="showForm">Show form</button>
    <div v-if="formVisible" class="row">
        <div class="col col-lg-4 mx-auto">
            <label>Name</label>
            <input v-model="person.name" />
            <label>City</label>
            <input v-model="person.city" />
            <button v-on:click="addPerson" class="btn btn-outline-info">Add</button>
        </div>
    </div>
</div>
<script src="~/lib/Vue/vue.js"></script>
<script src="~/js/intro/intro.js"></script>